# Add any directories, files, or patterns you don't want to be tracked by version control
build
bin
builds
tools/web-ext-config.js
tools/web-ext.bat
tools/web-ext.sh
tools/cxamm8z1.ytc

# Ignore web-ext related files
firefox-profile/
node_modules/
web-ext-artifacts/