$primaryBackgroundColor: #1f2223;
$secondaryBackgroundColor: #262a2b;

$primaryHoverColor: #4d5356;

$primaryTextColor: #cfcece;

$primaryBorderColor: #686868;

$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;