::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

body {
	background:var(--background-color-1);
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	color:var(--text-color-1);
	margin:1% 1% 0% 1%;
	font-size: 1.2em;
	font-weight: lighter;
	padding-bottom: 0%;
}

h2 {
	color:var(--text-color-1);
	margin-bottom:0%;
	padding-bottom:0%;
	font-size: 1.05em;
	font-weight: lighter;
}

h3 {
	font-size: 0.9em;
	padding:0%;
	margin:0%;
}

h4 {
	font-size: 0.8em;
	margin:1% 1% 0% 1%;
	padding:0%;
	color:var(--text-color-1);
	font-weight: lighter;
}

strong {
	font-size: 1.1em;
	margin:1% 1% 0% 1%;
	padding:0%;
	color:var(--text-color-1);
	font-weight: lighter;
}

p {
	font-size: 0.8em;
	padding:0%;
	margin:0% 1% 0% 1%;
	color:var(--text-color-1);
}

a {
	color:var(--text-color-1);
}

ul {
	list-style-type: square;
}
.hr {
	height:2px;
	width:98%;
	background: var(--line-color);
	margin:1%;
}

li {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

ul {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

.deleteButtonText {
	font-size: 1.25em;
}

.informationSubtitle {
	/*font-size: 0.78em;*/
}

.donationDiv {
	display:block;
	margin-left:1%;
}

.donationDiv .donationTextDiv {
	display:inline-block;
	width:40%;
	color:var(--text-color-1);
	border:none;
}


.donationDiv .donationBtnDiv {
	display:inline-block;
	float:right;
	margin-right:1%;
	margin-top:4px;
	border:none;
}

.donationDiv .donationBtnDiv .patreon {
	border: 1px;
	color: var(--text-color-1);
	background: #f96854;
	padding-top: 4px;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.donationDiv .donationBtnDiv .formBtn  {
	background: #ffc439;
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}

.selectionContainer input {
	margin:0% 1% 0% -2.7%;
	vertical-align: middle;
}

.lable {
	color:var(--text-color-1);
}

.textField {
	vertical-align: top;
	width:calc(100% - 3em - 4px);
	height:2em;
	color:var(--text-color-1);
	background:var(--main-color);
	border:var(--border-simple);
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	padding-left: 0.6em;
}

.textField::placeholder {
	color:var(--text-color-1);
}

#addSVG {
	fill: var(--text-color-1);
}

#addSVG:hover {
	fill: var(--text-color-1);
}

.containerSelect{
	margin: 1% 1% 0% 1%;
	background: var(--background-color-2);
	color:var(--text-color-1);
	border: 1px solid var(--text-color-1);
	font-size: 1.2em;
	font-weight: lighter;
	border: 1px solid var(--main-color);
}

.caseInsensitiveCheckbox{
	cursor: pointer;
	vertical-align: middle;
}

#hideable {
	display:none;
}

.outerDivExp div{
	display:block;
	background:var(--background-color-2);
	margin:0% 1% 1% 1%;
	padding:0.5%;
}

.outerDivExpNoBg div{
	display:block;
	margin:1%;
	padding:0.5%;
}

.innerDivExp div{
	display:block;
	margin-top:0%;
	margin-bottom:0%;
	margin-left:0%;
	margin-right:0%;
	padding:0.5%;
}

.innerDivExp .elementExp {
	background:var(--background-color-4);
	margin-top:0%;
	margin-bottom:1em;
}

.innerDivExp .elementExp div{
	background:var(--background-color-4);
}

.innerDivExp .selectionContainer {
	display:inline-block;
	width:36%;
	vertical-align:top;
	margin:0%;
	padding:0%;
}

.innerDivExp .spacer {
	display:inline-block;
	width:31.5%;
	vertical-align:top;
	margin:0%;
	padding:0%;
	color: var(--text-color-1);
}

.inputText {
	color:var(--text-color-1);
	background:var(--background-color-1);
	position: absolute;
	bottom: 2em;
}

.innerDivExp aside {
	display:inline-block;
	background:var(--background-color-2);
	width:31.5%;
	margin:0%;
	padding:0%;
	position: relative;
}

.innerDivExp .selectionContainer select {
	width:100%;
	height:15em;
	color:var(--text-color-1);
	background:var(--main-color);
	border:none;
	border:var(--border-simple);
}

.innerDivExp .selectionContainer select option {
	padding-top:0.31em;
	padding-bottom:0.31em;
	font-size: 1em;
	cursor: pointer;
}

.innerDivExp  .spacer button {
	display:inline-block;
	width:7%;
	height:15em;
	color:var(--text-color-1);
	background:var(--main-color);
	border:none;
	cursor: pointer;
	border:var(--border-simple);
}

.innerDivExp  .spacer div {
	display:inline-block;
	width:89%;
}

.innerDivExp  .spacer button:hover{
	background:var(--btn-color-hover);
}

.innerDivExp aside button{
	height:2em;
	color:var(--text-color-1);
	background:var(--main-color);
	cursor: pointer;
	border:var(--border-simple);
}

.innerDivExp aside button:hover{
	background:var(--btn-color-hover);
}

.innerDivExp aside .info {
	height:9em;
}

.innerDivExp aside .info  .infoText{
	color: var(--text-color-1);
	word-wrap: break-word;
	position: absolute;
	bottom: 0em;
	line-height:1.3em;
	font-size: 0.9em;
	padding:0%;
}

.saveFileDiv{
	display: flex;
	flex-direction:row;
}

.moreOptionsOuterContainer{
	margin:1em 1em 1em 1em;
	flex: 1 1 0px;
}

.moreOptionsDiv{
	padding-top:0.5em;
	min-height:105px;
	background: var(--background-color-2);
	border: var(--border-simple);
}

.moreOptionsDiv h4{
	display: flex;
	flex-direction:row;
}

.moreOptionsDiv #resetBtn{
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	color: var(--text-color-2);
	float: right;
}

.moreOptionsTextDiv{
	flex: 1 1 0px;
}

.moreOptionsInteractableDiv{
	flex: 1 1 0px;
	overflow: hidden;
}

.saveFileDiv button{
	margin-left:1%;
	cursor: pointer;
}

.saveFileDiv select{
	margin-left:1%;
	cursor: pointer;
}

.saveFileDiv input{
	color:var(--text-color-1);
	vertical-align:middle;
	margin-left:1%;
	cursor: pointer;
}

#checkboxSelectionContainer {
	vertical-align: middle;
}

#checkboxLable {
	vertical-align: middle;
}

.footer{
	display: flex;
	flex-direction:row;
}

.footerElement{
	display: flex;
	flex-direction:row;
	flex: 1 1 0px;
}

.footerInnerElement{
	text-align:center;
	flex: 1 1 0px;
}

 /* COLORPICKER */
 /* custom colorpicker-button*/
.colorpicker{
	position: relative;
	display: inline-block;
	width: var(--main-size-2);
	height: var(--main-size-2);
}

.colorpicker input {
	opacity: 0;
	width: 0;
	height: 0;
}

.cpBtn{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--main-size-2);
	border:1px solid black;
	margin-left:1%;
}

/* FILECHOOSER */
/* custom filechooser-button*/
input[type='file'] {
  display: none;
}
 /* TOGGLE-SWITCH */
 /* The switch - the box around the slider */

.switch {
	position: relative;
	display: inline-block;
	width: var(--main-size);
	height: var(--main-size-2);
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--toggle-slider-color-false);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: var(--main-size-3);
	width: var(--main-size-3);
	left: var(--main-size-4);
	bottom: var(--main-size-4);
	background-color: var(--toggle-slider-color-handle);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--toggle-slider-color-true);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(var(--main-size-3));
	-ms-transform: translateX(var(--main-size-3));
	transform: translateX(var(--main-size-3));
}

#questionmarkSVGPath{
		fill: var(--main-color);
}

#questionmarkSVGPath:hover{
		fill: var(--btn-color-hover);
}

/* import/export-buttons */
.importExportBtn {
	background-color: var(--main-color);
  	border: none;
  	color: var(--text-color-1);
	width: 13em;
	padding: 8px 18px;
	border:var(--border-simple);
}

.importExportBtn:hover {
	background-color: var(--btn-color-hover);
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--main-size-2);
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (min-width:95em) {
	.donationDiv .donationTextDiv {
		width:40%;
	}


	.innerDivExp .selectionContainer {
		width:36%;
	}

	.innerDivExp .spacer {
		width:31.5%;
	}

	.innerDivExp  .spacer button {
		width:7%;
	}

	.innerDivExp  .spacer div {
		width:89%;
	}

	.innerDivExp aside {
		width:32%;
	}

}

/*Small screen*/
@media screen and (max-width:95em) {
	.donationDiv .donationTextDiv {
		width:50%;
	}

	.innerDivExp .selectionContainer {
		width:36%;
	}

	.innerDivExp .spacer {
		width:10%;
	}

	.innerDivExp  .spacer button {
		width:30%;
	}

	.innerDivExp  .spacer div {
		width:40%;
	}

	.innerDivExp aside {
		width:52%;
	}
}

/*Smaller screen*/
@media screen and (max-width:60em) {
	.donationDiv .donationTextDiv {
		width:60%;
	}

	.innerDivExp .selectionContainer {
		width:36%;
	}

	.innerDivExp .spacer {
		width:10%;
	}

	.innerDivExp  .spacer button {
		width:40%;
	}

	.innerDivExp  .spacer div {
		width:40%;
	}

	.innerDivExp aside {
		width:51.5%;
	}

	.moreOptionsDiv{
		min-height:135px;
	}
}

/*Smallest screen*/
@media screen and (max-width:40em) {
	.donationDiv .donationTextDiv {
		width:100%;
	}

	.donationDiv .donationBtnDiv {
		float:left;
	}

	.innerDivExp .selectionContainer {
		width:100%;
	}

	.innerDivExp .spacer {
		width:100%;
	}

	.innerDivExp  .spacer button {
		width:100%;
		height:3em;
		margin-top:4px;
	}

	.innerDivExp  .spacer div {
		width:0%;
	}

	.innerDivExp aside {
		width:51.5%;
	}
}
