::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

body {
	background:#2d2d2d;
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	color:white;
	margin:1% 1% 0% 1%;
	font-size: 1.2em;
	font-weight: lighter;
	padding-bottom: 0%;
}

h2 {
	color:white;
	margin-bottom:0%;
	padding-bottom:0%;
	font-size: 1.05em;
	font-weight: lighter;
}

h3 {
	font-size: 0.9em;
	padding:0%;
	margin:0%;
}

h4 {
	font-size: 0.8em;
	margin:1% 1% 0% 1%;
	padding:0%;
	color:#ffffff;
}

p {
	font-size: 0.8em;
	padding:0%;
	margin:0% 1% 0% 1%;
	color:#ffffff;
}

a {
	color:#ffffff;
}

ul {
	list-style-type: square;
}
.hr {
	height:2px;
	width:98%;
	background: #336e7b;
	margin:1%;
}

li {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

ul {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

.deleteButtonText {
	font-size: 1.25em;
}

.informationSubtitle {
	font-size: 0.78em;
}

.donationDiv {
	display:block;
	margin-left:1%;
}

.donationDiv .donationTextDiv {
	display:inline-block;
	width:40%;
	color:#ffffff;
	border:none;
}


.donationDiv .donationBtnDiv {
	display:inline-block;
	float:right;
	margin-right:1%;
	margin-top:4px;
	border:none;
}

.donationDiv .donationBtnDiv .patreon {
	border: 1px;
	color: #ffffff;
	background: #f96854;
	padding-top: 4px;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.donationDiv .donationBtnDiv .formBtn  {
	background: #ffc439;
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}

.selectionContainer input {
	margin:0% 1% 0% -2.7%;
	vertical-align: middle;
}

.lable {
	color:white;
}

.textField {
	width:100%;
	height:2em;
	color:white;
	background:#336e7b;
	border-color:#000000;
	border:1px;
}

#hideable {
	display:none;
}

.outerDivExp div{
	display:block;
	background:#373737;
	margin:0% 1% 1% 1%;
	padding:0.5%;
}

.outerDivExpNoBg div{
	display:block;
	margin:1%;
	padding:0.5%;
}

.innerDivExp div{
	display:block;
	margin-top:0%;
	margin-bottom:0%;
	margin-left:0%;
	margin-right:0%;
	padding:0.5%;
}

.innerDivExp .elementExp {
	background:#464646;
	margin-top:0%;
	margin-bottom:1em;
}

.innerDivExp .elementExp div{
	background:#464646;
}

.innerDivExp .selectionContainer {
	display:inline-block;
	width:36%;
	vertical-align:top;
	margin:0%;
	padding:0%;
}

.innerDivExp .spacer {
	display:inline-block;
	width:31.5%;
	vertical-align:top;
	margin:0%;
	padding:0%;
	color: white;
}

.inputText {
	color:#ffffff;
	background:#2d2d2d;
	position: absolute;
	bottom: 2em;
}

.innerDivExp aside {
	display:inline-block;
	background:#000000;
	width:31.5%;
	margin:0%;
	padding:0%;
	position: relative;
}

.innerDivExp .selectionContainer select {
	width:100%;
	height:15em;
	color:#ffffff;
	background:#336e7b;
	border:none;
}

.innerDivExp .selectionContainer select option {
	padding-top:0.31em;
	padding-bottom:0.31em;
	font-size: 1em;
	cursor: pointer;
}

.innerDivExp  .spacer button {
	display:inline-block;
	width:7%;
	height:15em;
	color:#ffffff;
	background:#336e7b;
	border:none;
	cursor: pointer;
}

.innerDivExp  .spacer div {
	display:inline-block;
	width:89%;
}

.innerDivExp  .spacer button:hover{
	background:#2d2d2d;
}

.innerDivExp aside button{
	width:100%;
	height:4em;
	color:#ffffff;
	background:#336e7b;
	border:none;
	font-size: 0.8em;
	cursor: pointer;
}

.innerDivExp aside button:hover{
	background:#2d2d2d;
}

.innerDivExp aside .info {
	height:9em;
}

.innerDivExp aside .info  .infoText{
	color: #ffffff;
	word-wrap: break-word;
	position: absolute;
	bottom: 0em;
	line-height:1.3em;
	font-size: 0.9em;
	padding:0%;
}

.saveFileDiv button{
	margin-left:1%;
}

.saveFileDiv input{
	color:#ffffff;
	margin-left:1%;
}

#checkboxSelectionContainer {
	vertical-align: middle;
}

#checkboxLable {
	vertical-align: middle;
}

@media screen and (min-width:80em) {
	.donationDiv .donationTextDiv {
		width:40%;
	}
	
	
	.innerDivExp .selectionContainer {
		width:36%;
	}
	
	.innerDivExp .spacer {
		width:31.5%;
	}
	
	.innerDivExp  .spacer button {
		width:7%;
	}
	
	.innerDivExp  .spacer div {
		width:89%;
	}
	
	.innerDivExp aside {
		width:31.5%;
	}
	
}

/*Small screen*/
@media screen and (max-width:80em) {
	.donationDiv .donationTextDiv {
		width:50%;
	}
	
	.innerDivExp .selectionContainer {
		width:36%;
	}
	
	.innerDivExp .spacer {
		width:10%;
	}
	
	.innerDivExp  .spacer button {
		width:30%;
	}
	
	.innerDivExp  .spacer div {
		width:40%;
	}
	
	.innerDivExp aside {
		width:51.5%;
	}
}

/*Smaller screen*/
@media screen and (max-width:60em) {
	.donationDiv .donationTextDiv {
		width:60%;
	}
	
	.innerDivExp .selectionContainer {
		width:36%;
	}
	
	.innerDivExp .spacer {
		width:10%;
	}
	
	.innerDivExp  .spacer button {
		width:40%;
	}
	
	.innerDivExp  .spacer div {
		width:40%;
	}
	
	.innerDivExp aside {
		width:51.5%;
	}
}

/*Smallest screen*/
@media screen and (max-width:40em) {
	.donationDiv .donationTextDiv {
		width:100%;
	}
	
	.donationDiv .donationBtnDiv {
		float:left;
	}
	
	.innerDivExp .selectionContainer {
		width:100%;
	}
	
	.innerDivExp .spacer {
		width:100%;
	}
	
	.innerDivExp  .spacer button {
		width:100%;
		height:3em;
		margin-top:4px;
	}
	
	.innerDivExp  .spacer div {
		width:0%;
	}
	
	.innerDivExp aside {
		width:51.5%;
	}
}
