::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}


body {
	background:#202020;
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	color:white;
	margin:1% 1% 0% 1%;
	font-size: 1.2em;
	font-weight: lighter;
	padding-bottom: 0%;
}

h2 {
	color:white;
	margin-bottom:0%;
	padding-bottom:0%;
	font-size: 1.05em;
	font-weight: lighter;
}

h3 {
	font-size: 0.9em;
	padding:0%;
	margin:0%;
}

hr {
  color: #303030;
}

li {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

ul {
	margin-top:0%;
	margin-bottom:0%;
	padding-top:0%;
	padding-bottom:0%;
}

.donationBtn {
	margin-left:1%;
	margin-top:1%;
	margin-bottom:1%;
	border-radius: 12px;
	background-color:yellow;
}

.selectionContainer input {
	margin:0% 1% 0% 0%;
}

.lable {
	color:white;
}

.textField {
	width:100%;
	height:2em;
	color:white;
	background:#161616;
	border-color:#000000;
	border:1px;
}

#hideable {
	display:none;
}

.outerDivExp div{
	display:block;
	background:#303030;
	margin:0% 1% 1% 1%;
	padding:0.5%;
}

.outerDivExpNoBg div{
	display:block;
	margin:1%;
	padding:0.5%;
}

.innerDivExp div{
	display:block;
	margin-top:0%;
	margin-bottom:0%;
	margin-left:0%;
	margin-right:0%;
	padding:0.5%;
}

.innerDivExp .elementExp {
	background:#404040;
	margin-top:0%;
	margin-bottom:1em;
}

.innerDivExp .elementExp div{
	background:#404040;
}

.innerDivExp .selectionContainer {
	display:inline-block;
	width:36%;
	vertical-align:top;
	margin:0%;
	padding:0%;
}

.innerDivExp .spacer {
	display:inline-block;
	width:31.5%;
	vertical-align:top;
	margin:0%;
	padding:0%;
	color: white;
}

.innerDivExp .spacer .inputText {
	width:100%;
	text-align: right;
}

.innerDivExp aside {
	display:inline-block;
	background:#000000;
	width:31.5%;
	margin:0%;
	padding:0%;
	position: relative;
}

.innerDivExp .selectionContainer select {
	width:100%;
	height:15em;
	color:#ffffff;
	background:#161616;
	border:none;
}

.innerDivExp .selectionContainer select option {
	padding-top:0.31em;
	padding-bottom:0.31em;
	font-size: 1em;
}

.innerDivExp  .spacer button {
	display:inline-block;
	width:7%;
	height:15em;
	color:#ffffff;
	background:#161616;
	border:none;
}

.innerDivExp  .spacer div {
	display:inline-block;
	width:89%;
}

.innerDivExp  .spacer button:hover{
	background:#202020;
}

.innerDivExp aside button{
	width:100%;
	height:4em;
	color:#ffffff;
	background:#161616;
	border:none;
	font-size: 0.8em;
}

.innerDivExp aside button:hover{
	background:#202020;
}

.innerDivExp aside .info {
	height:9em;
}

.innerDivExp aside .info  .infoText{
	color: #ffffff;
	word-wrap: break-word;
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
	padding:0%;
}
