
body {
	background:#202020;
}

h2 {
	color:white;
	margin:1%; 
}

header {
	display:block;
	width:100%;
	margin:0%;
	padding:0%;
	background-color:#000000;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border:1px solid #303030;
	z-index: 1;
	box-shadow: 0px 10px 28px #101010;
}

#donationBtn {
	margin-left:1%; 
	margin-top:1%; 
	margin-bottom:1%;
	border-radius: 12px;
	background-color:yellow;	
}

#configurationCheckbox {
	color:white;
	background:#161616;
	margin-left:1%; 
	margin-top:1%; 
	margin-bottom:1%; 
}

#lable {
	color:white;
}

#textField {
	width:100%;
	height:2em;
	color:white;
	background:#161616;
	border-color:#000000;
	border:1px;
}

#hideable {
	display:none;
}

#outerDivExp div{
	display:block;
	background:#303030;
	margin:1%; 
	padding:0.5%;
}

#innerDivExp div{
	display:block;
	background:#404040;
	margin-top:0em; 
	margin-bottom:0%; 
	margin-left:0%; 
	margin-right:0%;
	padding:0.5%;
}

#innerDivExp div.noBg {
	background:#303030;
}

#innerDivExp selectionContainer {
	display:inline-block;
	width:36%;
	vertical-align:top;
	margin:0%;
	padding:0%;
}

#innerDivExp spacer {
	display:inline-block;
	width:31.5%;
	vertical-align:top;
	margin:0%;
	padding:0%;
	color: white;
}

#innerDivExp spacer div.inputText {
	background:#303030;
	width:100%;
	text-align: right;
}

#innerDivExp aside {
	display:inline-block;
	width:31.5%;
	vertical-align:top;
	margin:0%;
	padding:0%;
}

#innerDivExp selectionContainer select {
	width:100%;
	height:15em;
	color:#ffffff;
	background:#161616;
	border:none;
}

#innerDivExp spacer button {
	display:inline-block;
	width:10%;
	height:15em;
	color:#ffffff;
	background:#161616;
	border:none;
}

#innerDivExp spacer div {
	display:inline-block;
	width:86%;
}

#innerDivExp spacer button:hover{
	background:#202020;
}

#innerDivExp aside button{
	width:100%;
	height:4em;
	color:#ffffff;
	background:#161616;
	border:none;
}

#innerDivExp aside button:hover{
	background:#202020;
}

#info {
	color: #ffffff;
	word-wrap: break-word;
}




















